main(ng-app='WikiApp' ng-controller='MainCtrl')
  #search.wrapper.fullHeight
    form(ng-submit='search()')
      input(type='text' ng-model='searchTxt')
      .eks
     p#help Click icon to search
  .wrapper
    ul
      a(ng-href='{{result.page}}' target='_blank' ng-repeat='result in results')
        li
          h1 {{result.title}}
          p {{result.body}}