<html>
<head>
    <meta charset="utf-8">
    <title>Filteri</title>
    <script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="filter.js"></script>
    <script src="servisi.js"></script>
</head>

<body ng-app="someApp">

    <!-- jedan kontroler je nadležan za parametre -->
    <div ng-controller="ParamKontrol as parametri">
        <input placeholder="Trazi" ng-model="parametri.kriteriji.upit"/>
        <label ng-repeat="parametar in parametri.spisak">
            <input type="checkbox" ng-model="parametar.izabrano"/> {{parametar.ime}}
        </label>
    </div>
    <hr />

    <!-- drugi kontroler je nadležan za rezultate -->
    <div ng-controller="ListaKontrol as lista">
        Rezultati za: {{ lista.kriteriji.upit }}
        <ul>
            <li ng-repeat="predmet in lista.spisak | filter: lista.kriteriji.upit | proveriGrupu : lista.parametri">
                {{predmet.ime}}
            </li>
        </ul>
    </div>

</body>
</html>
