<html>
<head>
    <meta charset="utf-8">
    <title>Filteri</title>
</head>

<body ng-app="someApp">

    <div ng-controller="KvaciceKontrol as kvacice">
        <input placeholder="Trazi" ng-model="kvacice.kriteriji.upit"/>        
        <label ng-repeat="kvacica in kvacice.sve">
            {{kvacica.ime}}
            <input type="checkbox" ng-model="kvacica.izabrano"/>
        </label>
    </div>
    <hr />
        
    <div ng-controller="ListaKontrol as lista">
        Search results for: {{ lista.kriteriji.upit }}
        <ul>
            <li ng-repeat="predmet in listItems | filter: lista.kriteriji.upit | filterByCategory : checkboxes">
                {{predmet.ime}}
            </li>
        </ul>
    </div>
	
	<script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="filteri.js"></script>
    <script src="fabrike.js"></script>
    <script src="kontroleri.js"></script>
</body>
</html>