<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-app="myApp">

    <div ng-controller="VinaKontrol as vina">

        <b>Spisak vrsti:</b>
        <div ng-repeat="vrsta in vina.nadjiVrste()">
            <label>
                <input type="checkbox" ng-model="vina.izabrano[vrsta]" /> {{vrsta}}
            </label>
        </div>
        <hr>

        <b>Izabrano:</b>
        <div ng-repeat="vino in vina.spisak | filter: vina.proberiPoVrsti">
            {{vino.ime}} ({{vino.vrsta}})
        </div>
    </div>

    <script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>