
    .main, .debug {
        width: 48%;
      }

      .main {
        float: left;
      }

      .debug {
        float: right;
      }

      .fields label {
        display: block;
        margin-bottom: 0.75em;
        font-weight: bold;
      }

      .fields .question, .bar-chart .option {
        margin-bottom: 0.75em;
      }

      .fields label input, .fields label select {
        font-weight: normal;
        margin-left: 1em;
      }

      .bar-chart .option .text {
        margin-bottom: 0;
      }

      .bar-chart .option .bar {
        display: block;
        height: 1em;
        color: white;
        padding: 0.25em 0;
        text-indent: 0.5em;
      }
  
