<!-- Error: this.zanrovi is undefined, koristi se pre proglasenja -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-app='multiFilter'>

    <h1>Filmovi</h1>

    <div ng-controller="FilmoviKontrol as filmovi">
        <label>
            <input type="checkbox" ng-model="filmovi.zanrovi.akcioni" /> Akcioni
        </label>
        <label>
            <input type="checkbox" ng-model="filmovi.zanrovi.komedija" /> Komedija
        </label>
        <ul>
            <li ng-repeat="film in filmovi.svi | prikaziZanrove: filmovi.zanrovi">{{film.naziv}}: {{film.zanr}}</li>
        </ul>
    </div>


    <script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="filteri.js"></script>
</body>
</html>