<html>

<head>
    <meta charset="utf-8">
    <title>Filteri voce</title>
</head>

<body ng-app="pozor">

	<div ng-controller="VoceKontrol as voce">
		<label ng-repeat="vocka in voce.spisak">
			<input type='checkbox' ng-model='vocka.izabrano'></input>{{vocka.boja}}
		</label>
		
		<ul>
			<li ng-repeat="vocka in voce.spisak | filter:{izabrano:true}">{{vocka.ime}}</li>
		</ul>
	</div>

	<script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>