<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Dynamic Checkbox Filters in AngularJS</title>
    
    
    
    
        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <div ng-app='angularDemo' class="ng-cloak" ng-cloak="">
  <div ng-controller="angularController">
    <h2>Filtering with Angular Filters</h2>
    <div class="sidebar">
      <div ng-repeat="filter in Filters">
          <h3 class="sort">{{filter.name}}</h3>
          <ul class="sortoptions">
            <li ng-repeat="option in filter.values">
              <input type="checkbox" ng-model="option.IsIncluded"  ng-checked="option.IsIncluded"> {{option.value}}
            </li>

          </ul>
      </div>
    </div>
    
    <div class="productlist">
      <div ng-repeat="fruit in Fruits | dynamicFilter:Filters:this" class="product">
        {{fruit.name}}
      </div>
      
    </div>
  </div>
</div>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
