<!DOCTYPE html>
<html lang="en" ng-app="formaModul">
<head>
  <meta charset="utf-8"/>
  <title>AngularJS Form</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body class="container" ng-cloak>
  
  <h2>AngularJs form</h2>

  <p>This is an AngularJs based form. It uses a controller to handle form validation and submission.</p>

  <div ng-controller="formKontrol as forma">
    <div id="messages" class="alert alert-success" ng-show="forma.greske" ng-bind="forma.greske"></div>
    <div ng-show="forma.progres.active()" style="color: red; font-size: 50px;">Sending&hellip;</div>


    <form name="formular" novalidate role="form">
      <div class="form-group">
        <label for="name">Your Name </label>
        <span class="label label-danger" ng-show="forma.potvrdjeno && formular.name.$error.required">Obavezno!</span>
        <input type="text" name="name" ng-model="forma.ime" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="email">Your E-mail address</label>
        <span class="label label-danger" ng-show="forma.potvrdjeno && formular.email.$error.required">Obavezno!</span>
        <span class="label label-danger" ng-show="forma.potvrdjeno && formular.$error.email">Invalid email!</span>
        <input type="email" name="email" ng-model="forma.email" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="svrhaObracanja">What is the nature of your request?</label>
        <span class="label label-danger" ng-show="forma.potvrdjeno && formular.svrhaObracanja.$error.required">Obavezno!</span>
        <select name="svrhaObracanja" ng-model="forma.svrhaObracanja" ng-options="id as value for (id, value) in forma.listaOpcija" class="form-control" required>
          <option value=""></option>
        </select>
      </div>

      <div class="form-group">
        <label for="url">URL of Relevant Page</label>
        <span class="label label-danger" ng-show="forma.potvrdjeno && formular.$error.url">Invalid URL format!</span>
        <input type="url" name="url" ng-model="forma.url" class="form-control" />
      </div>

      <div class="form-group">
        <label for="comments">Description</label>
        <span class="label label-danger" ng-show="forma.potvrdjeno && formular.comments.$error.required">Obavezno!</span>
        <textarea name="comments" ng-model="forma.komentari" class="form-control" required></textarea>
      </div>

      <button ng-disabled="forma.progres.active()" ng-click="forma.potvrdi(formular)" class="btn btn-default">Submit</button>
    </form>


  </div>

  <script type="text/javascript" src="http://code.angularjs.org/1.2.25/angular.min.js"></script>
  <script type="text/javascript" src="js/modules/promise-tracker.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
