<div class="l-standard" ng-controller="layouts.StandardController">

    <!-- BEGIN: Layout Container. -->
    <div class="l-container">

        <!-- BEGIN: Layout Header. -->
        <div class="l-header" data-photo-credit="http://www.flickr.com/photos/alachia/4755949477">

            <span class="title">
                Adopt-A-Pet
            </span>

            <ul>
                <!-- Home is never "on" - it's part of a different layout. -->
                <li>
                    <a href="#/home">Home</a>
                </li>
                <li ng-class="{ on: ( subview == 'pets' ) }">
                    <a href="#/pets">Pets</a>
                </li>
                <li ng-class="{ on: ( subview == 'contact' ) }">
                    <a href="#/contact">Contact</a>
                </li>
            </ul>

        </div>
        <!-- BEGIN: Layout Header. -->

        <!-- Include Body Content. -->
        <div class="l-body" ng-switch="subview">
            <div ng-include=" 'app/views/contact/index.htm' " ng-switch-when="contact"></div>
            <div ng-include=" 'app/views/home/index.htm' " ng-switch-when="home"></div>
            <div ng-include=" 'app/views/pets/index.htm' " ng-switch-when="pets"></div>
        </div>

    </div>
    <!-- END: Layout Container. -->

    <!-- BEGIN: Layout Footer. -->
    <div class="l-footer">

        <div class="description">
            This is a sample application intended to demonstrate one way to handle deep-routing in AngularJS.
        </div>

    </div>
    <!-- END: Layout Footer. -->

</div>
