<html>
  <head>
	<title>Anketa</title>
	<link rel="stylesheet" href="css/style.css" />
  </head>
  
  <body ng-app="treehouseCourse" ng-controller="korakKontrol">
    <div class="main" ng-switch="korak">
  
      <div ng-switch-when="1" ng-controller="korisnikKontrol">
        <form name="demographics" class="fields">
          <label>
            Gender:
            <select ng-model="korisnik.pol">
              <option>-- Select one --</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </label>
          <label>
            Age Range:
            <select ng-model="korisnik.uzrast">
              <option>-- Select one --</option>
              <option value="<10">&lt;10</option>
              <option value="10-19">10-19</option>
              <option value="20-29">20-29</option>
              <option value="30-39">30-39</option>
              <option value="40-49">40-49</option>
              <option value="50+">50+</option>
            </select>
          </label>
          <button ng-click="advance()" ng-disabled="demographics.$invalid">
            Next korak
          </button>
        </form>
      </div>
  
      <div ng-switch-when="2" ng-controller="anketaKontrol">
        <h4>{{survey.title}}</h4>
        <p>Awesome, now for a few quick pitanja:</p>
        <form name="surveyQuestions" class="fields">
          <div class="question" ng-repeat="question in questionsForUser">
            <p class="text">
              {{question.tekstPitanja}}
            </p>
            <label ng-repeat="option in question.opcije">
              <input type="radio" ng-model="korisnik.odgovori[question.id]" ng-value="option">
              {{option}}
            </label>
          </div>
          <button ng-click="advance()" ng-disabled="surveyQuestions.$invalid">
            Submit
          </button>
        </form>
      </div>
  
      <div ng-switch-when="3" ng-controller="rezultatKontrol">
        <p>Great, thanks. Here are the results so far:</p>
        <div ng-repeat="result in surveyResults">
          <div grafikon="result"></div>
        </div>
      </div>
    </div>
  
    <div class="debug" ng-controller="logKontrol">
      <h3>User</h3>
      <pre ng-bind="korisnik | json"></pre>
      <h3>Results</h3>
      <pre ng-bind="results | json"></pre>
    </div>
  
  
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="js/kontroleri.js"></script>
	<script type="text/javascript" src="js/fabrike.js"></script>
  </body>
</html>
