<html>

<head>
    <meta charset="UTF-8">
    <title>Filteri mušterije</title>
</head>

<body ng-app="musterije" ng-controller="MusterijeKontrol as musterije">

    <div data-ng-repeat="musterija in musterije.spisak | unique:'grad'">
        <label>
            <input type="checkbox" ng-model="musterije.kriteriji[musterija.grad]"/> {{musterija.grad}}
        </label>
    </div>

    <table>
        <tr>
            <th>ime</th>
            <th>prezime</th>
            <th>adresa</th>
            <th>grad</th>
        </tr>

        <tbody>
        <tr data-ng-repeat="musterija in musterije.spisak | filter: musterije.proveriGrad() ">
            <td> {{musterija.ime}} </td>
            <td> {{musterija.prezime}} </td>
            <td> {{musterija.adresa}} </td>
            <td> {{musterija.grad}} </td>
        </tr>
        </tbody>
    </table>

	<script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
	<script src="filteri.js"></script>
    <script src="app.js"></script>
</body>
</html>