<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>Multi pretraga</title>
</head>

<body ng-app="myApp">

  <div ng-controller="PretragaKontrol as pretraga">
    <div ng-controller="PodaciKontrol as podaci">

      <form>
        <label for="fraza-unos">Traži:</label>
        <input ng-model="pretraga.fraza" id="fraza-unos">
        <br/><br/>
  
        <label for="sport-unos">Sport:</label>
        <select ng-model="pretraga.aktivniFilteri.sport" id="sport-unos">
          <option ng-repeat="sport in ['Basketball', 'Hockey', 'Football']">{{sport}}</option>
        </select>
        <br/><br/>
  
        <label for="grad-unos">Grad:</label>
        <select ng-model="pretraga.aktivniFilteri.grad" id="grad-unos">
          <option ng-repeat="grad in podaci.gradovi">{{grad}}</option>
        </select>
        <br/><br/>
  
        <label>Istaknuti:</label>
        <input type="checkbox" ng-model="pretraga.aktivniFilteri.istaknut" />
        <br/><br/>
      </form>
  
      <table>
        <thead>
        <tr>
          <th>Ime</th>
          <th>Sport</th>
          <th>Grad</th>
          <th>Istaknut</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="team in podaci.igraci | filter:pretraga.aktivniFilteri | filter:pretraga.fraza">
          <td>{{team.ime}}</td>
          <td>{{team.sport}}</td>
          <td>{{team.grad}}</td>
          <td>{{team.istaknut}}</td>
        </tr>
        </tbody>
      </table>
      
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="kontroleri.js"></script>
</body>

</html>