<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>Multi igraci</title>
</head>

<body ng-app="myApp">

  <div ng-controller="IgraciKontrol as igraci">

    <form>
      <label>Traži:
        <input ng-model="igraci.fraza">
      </label><br/><br/>

      <label>Sport:
        <select ng-model="igraci.kriteriji.sport">
          <option ng-repeat="sport in ['Basketball', 'Hockey', 'Football']">{{sport}}</option>
        </select>
      </label><br/><br/>

      <label>Grad:
        <select ng-model="igraci.kriteriji.grad">
          <option ng-repeat="grad in igraci.gradovi">{{grad}}</option>
        </select>
      </label><br/><br/>

      <label>Istaknuti:
        <input type="checkbox" ng-model="igraci.kriteriji.istaknut" />
      </label><br/><br/>
    </form>

    <table>
      <thead>
      <tr>
        <th>Ime</th>
        <th>Sport</th>
        <th>Grad</th>
        <th>Istaknut</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="team in igraci.spisak | filter:igraci.kriteriji | filter:igraci.fraza">
        <td>{{team.ime}}</td>
        <td>{{team.sport}}</td>
        <td>{{team.grad}}</td>
        <td>{{team.istaknut}}</td>
      </tr>
      </tbody>
    </table>
      
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="kontroleri.js"></script>
</body>

</html>