<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Filteri hoteli</title>
  </head>
  <body ng-app="App">

      <div ng-controller="HoteliKontrol">
        <p>Kriteriji: </p>

        <label>
            <input type="checkbox" ng-model='kriteriji.skupoca' ng-true-value='skup' ng-false-value='' />
            Skupi
        </label>

        <label>
            <input type="checkbox" ng-model='kriteriji.jeftinoca' ng-true-value='jeftin' ng-false-value='' />
            Jeftini
        </label>

		<label>
            <input type="checkbox" ng-model='kriteriji.slobodan' />
            Slobodni
        </label>
		
        <br/><br/>
        <table id="hotels">
            <tr>
                <th>Ime</th>
                <th>Ocena</th>
                <th>Vrsta</th>
                <th>Cena</th>
				<th>Slobodno</th>
            </tr>
            <tr ng-repeat="hotel in hotels | filter:{ vrsta: kriteriji.skupoca } | filter:{ vrsta: kriteriji.jeftinoca } | filter:{ slobodan: kriteriji.slobodan } ">
                <td>{{hotel.ime}}</td>
                <td>{{hotel.ocena}}</td>
                <td>{{hotel.vrsta}}</td>
                <td>{{hotel.cena}}</td>
				<td>{{hotel.slobodan}}</td>
            </tr>
        </table>
      </div>

      <script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
      <script src="app.js"></script>
    </body>
</html>