<html>
<head>
	<meta charset="utf-8">
	<title>Filteri proizvodi</title>
</head>

<body ng-app="radnja">

	<div ng-controller="ProizvodiKontrol as proizvodi">
		<p>Kriterijum sortiranja:
			<select ng-model="proizvodi.kriterij">
				<option value="ime">ime</option>
				<option value="cena">cena</option>
				<option value="kolicina">kolicina</option>
			</select>
		</p>

		<p>Pretraži po: </p>

		<div>Imenu: </div>
		<input type="text" ng-model="proizvodi.kriteriji.ime" />

		<div>Ceni: </div>
		<input type="text" ng-model="proizvodi.kriteriji.cena" />

		<div>Kolicini: </div>
		<input type="text" ng-model="proizvodi.kriteriji.kolicina" />

		<div>Svemu: </div>
		<input type="text" ng-model="proizvodi.kriteriji.$" />

		<p>Rezultati: </p>
		<table border="1">
			<thead>
			<tr>
				<th>ime</th>
				<th>cena</th>
				<th>kolicina</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="proizvod in proizvodi.spisak | orderBy: proizvodi.sortiraj | filter:proizvodi.kriteriji">
				<td>{{proizvod.ime}}</td>
				<td>{{proizvod.cena | currency}}</td>
				<td>{{proizvod.kolicina}}</td>
			</tr>
			</tbody>
		</table>

	</div>


	<script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>