<!DOCTYPE html>
<html ng-app="App">
  <head>
    <meta charset="UTF-8">
    <title>Filteri hoteli</title>
  </head>

  <body ng-controller="HoteliKontrol">
        <p>Izaberi: </p>

        <label>
            <input type="checkbox" ng-model='search.type1' ng-true-value='luxury' ng-false-value='' />
            Luxury
        </label>

        <label>
            <input type="checkbox" ng-model='search.type2' ng-true-value='double suite' ng-false-value='' />
            Double suite
        </label>

        <br/><br/>
        <table id="hotels">
            <tr>
                <th>Hotel Name</th>
                <th>Star Rating</th>
                <th>Hotel type</th>
                <th>Hotel Price</th>
            </tr>
            <tr ng-repeat="hotel in hotels | filter:search.type1 | filter:search.type2">
                <td>{{hotel.name}}</td>
                <td>{{hotel.star}}</td>
                <td>{{hotel.type}}</td>
                <td>{{hotel.price}}</td>
            </tr>
        </table>

        <script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
        <script src="script.js"></script>
    </body>

</html>