<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Filteri hoteli</title>
  </head>
  <body ng-app="App">

      <div ng-controller="HoteliKontrol">
        <p>Izaberi: </p>

        <label>
            <input type="checkbox" ng-model='kriteriji.type1' ng-true-value='skup' ng-false-value='' />
            Skupi
        </label>

        <label>
            <input type="checkbox" ng-model='kriteriji.type2' ng-true-value='jeftin' ng-false-value='' />
            Jeftini
        </label>

        <br/><br/>
        <table id="hotels">
            <tr>
                <th>Ime</th>
                <th>Ocena</th>
                <th>Vrsta</th>
                <th>Cena</th>
            </tr>
            <tr ng-repeat="hotel in hotels | filter:kriteriji.type1 | filter:kriteriji.type2">
                <td>{{hotel.ime}}</td>
                <td>{{hotel.ocena}}</td>
                <td>{{hotel.vrsta}}</td>
                <td>{{hotel.cena}}</td>
            </tr>
        </table>
      </div>

      <script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
      <script src="app.js"></script>
    </body>
</html>