.ng-cloak{
  display:none;
}
.sidebar{
  float:left;
  width:200px;
}

.product{
  float:left;
  width:100px;
  height:100px;
  margin:20px;
  padding:20px;
  text-align:center;
  background-color:#eee;
}
.sortoptions{
  list-style:none;
  padding-left:0px;
}
h3{
  margin-bottom:0px;
}
ul{
  margin-top:2px;
}